{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "printWidth": 80,
    "tabWidth": 5,
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "arrowParens": "always"
}